
<div *ngIf="sudoku" id="sudoku">
  <ng-container  *ngFor="let i of [0,3,6]">
  <div class="box">
    <ng-container  *ngFor="let j of [0,3,6]">
      <app-grid [grid]="sudoku" [gridIndex]="[j,i]"></app-grid>
    </ng-container>
  </div>
  </ng-container>
 
</div>
 <div class="controls">
    <button class="solve-btn" (click)="solve()">Solve</button>
    <button class="solve-btn" (click)="createProblem()">Create Problem</button>
    <button class="solve-btn" (click)="reset()">Reset</button>
  </div>



<!--<button (click)="createProblem()">Create Problem</button>-->
<router-outlet></router-outlet>
